<div class="content" >
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header card-header-icon" data-background-color="blue">
                  <i class="fas fa-file-invoice-dollar"></i>
               </div>
               <div class="card-content">
                  <h4 class="card-title">Vas Plans</h4>
                  <div class="col-md-4" *ngIf="showVasPlan">
                     <div class="boxline">
                        <p>
                           <strong>Advisory Services</strong>
                        </p>
                        <table>
                           <tr>
                              <td class="text-left">
                                 <b>{{advDetails.plan_name}}</b>
                                 <ul>
                                    <li *ngIf="advDetails.description_1">{{advDetails.description_1}}</li>
                                    <li *ngIf="advDetails.description_2">{{advDetails.description_2}}</li>
                                    <li *ngIf="advDetails.description_3">{{advDetails.description_3}}</li>
                                    <li *ngIf="advDetails.description_4">{{advDetails.description_4}}</li>
                                    <li *ngIf="advDetails.description_5">{{advDetails.description_5}}</li>
                                 </ul>
                              </td>
                              <td class="text-right">
                                 <p><strong>US ${{advDetails.pricing}}</strong></p>
                              </td>
                           </tr>
                           <tr>
                              <td colspan="2">
                                 <input id="curtainInput" (click)="addAdvService($event)" type="button" value="Add" class="btn btn-info btn-sm pull-right" />
                              </td>
                           </tr>
                        </table>
                     </div>
                     <table class="table">
                        <tr>
                           <td>
                              <label class="customlabel">Sub Total</label>
                           </td>
                           <td>US ${{addedAmount}}</td>
                        </tr>                       
                        <tr>
                           <td>
                              <label class="customlabel">Discount</label>
                           </td>
                           <td>US $0</td>
                        </tr>
                        <tr>
                           <th>
                              Grand Total
                           </th>
                           <th>
                              US ${{addedAmount}}
                           </th>
                        </tr>
                     </table>
                     <button *ngIf="hideAddBtn" type="button" (click)="addVasPlan(advDetails)" style="margin-top:10px;" class="btn btn-info pull-right">
                        Add Vas
                        <div class="ripple-container"></div>
                     </button>
                  </div>   
                  <div class='col-md-8' *ngIf="showSuccess">
                     <p class="errormessage text-success" style="margin-bottom: 15px;">Your Vas Plan is Active.</p>
                     <div class="col-md-4">
                           <div class="boxline">
                              <p>
                                 <strong>Advisory Services</strong>
                              </p>
                              <table>
                                 <tr>
                                    <td class="text-left">
                                       <b>{{viewAdvDetails.plan_name}}</b>
                                       <ul>
                                          <li *ngIf="viewAdvDetails.description_1">{{viewAdvDetails.description_1}}</li>
                                          <li *ngIf="viewAdvDetails.description_2">{{viewAdvDetails.description_2}}</li>
                                          <li *ngIf="viewAdvDetails.description_3">{{viewAdvDetails.description_3}}</li>
                                          <li *ngIf="viewAdvDetails.description_4">{{viewAdvDetails.description_4}}</li>
                                          <li *ngIf="viewAdvDetails.description_5">{{viewAdvDetails.description_5}}</li>
                                       </ul>
                                    </td>
                                    <td class="text-right">
                                       <p><strong>US ${{viewAdvDetails.pricing}}</strong></p>
                                    </td>
                                 </tr>
                              </table>
                           </div>
                        </div> 
                  </div>                                
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<router-outlet></router-outlet>