<div class="content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Vas Plans</h4>
                            <div class="col-md-4">
                                <div class="boxline">
                                    <p>
                                        <strong>Advisory Services</strong>
                                    </p>
                                    <table>
                                        <tr>
                                            <td class="text-left">
                                                <b>Platinum</b>
                                                <ul>
                                                    <li >description_1</li>
                                                    <li>description_2</li>
                                                    <li>description_3</li>
                                                    <li>description_4</li>
                                                    <li>description_5</li>                                                
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <input id="curtainInput" type="button" value="Add" class="btn btn-info btn-sm pull-right" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>                               
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
