<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>NIMAI</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <!-- <div class="wrapper"> -->

    <!-- <div class="main-panel"> -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">KYC Details - <small class="category">Complete your profile</small>
                            </h4>
                            <form [formGroup]="kycDetailsForm" (ngSubmit)="submit();">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <h4 class="card-title col-md-12"
                                                style="padding: 5px 15px 15px 15px;font-size: 15px;font-weight: 500;">
                                                Business KYC
                                            </h4>
                                            <div class="col-md-6">
                                                <div class="inputDiv selectdiv">
                                                    <select id="busiCountry">
                                                        <option [ngValue]="null" selected>Select</option>
                                                        <option *ngFor="let data of resp" [ngValue]='data.country'>{{data.country}}</option>   
                                                    </select>
                                                    <label>Select Country</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="inputDiv selectdiv">
                                                    <select id="busiDocument">
                                                        <option [ngValue]="null" selected>Select</option>
                                                        <option *ngIf="isCustomer" value="Registration Certificate or equivalent">Registration Certificate or equivalent</option>
                                                        <option value="Address Proof">Address Proof</option>
                                                        <option *ngIf="isCustomer" value="Tax identification document">Tax identification document</option>
                                                        <option *ngIf="isBank" value="Statutory License">Statutory License</option>
                                                    </select>
                                                    <label>Valid Documents</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Upload Document (only pdf, jpeg, png)</label>
                                                <div class="element" formArrayName="businessDocumentList_html"
                                                *ngFor="let item of kycDetailsForm.get('businessDocumentList_html').controls; let i = index;">
                                                <div class="row" [formGroupName]="i">
                                                    <input formControlName="encodedFileContent" type="file"
                                                        placeholder="Upload Document"
                                                        (change)="selectFile($event, item)" name="document[]"
                                                        id="upload_file{{i+1}}" class="filestyle" multiple=""   />

                                                        <div class="col-md-3" id="moreImageUploadLinkType" style="display:none;margin-left: 10px;">
                                                            <div class="inputDiv" *ngIf="i==0">
                                                                <a href="javascript:void(0);" (click)="add(i,'business')" class="attachMore" id="attachMore">+
                                                                    Add More</a>
                                                            </div>
                                                            <div class="inputDiv" *ngIf="i>0">
                                                                <a href="javascript:void(0);" class="attachMore" id="attachMore"
                                                                    (click)="remove(i,'business')">Remove</a>
                                                            </div>
                                                        </div>
                                                </div>
                                                </div>


                                                <!-- <div id="moreImageUpload"></div>
                                                <div class="clear"></div>
                                                <div id="moreImageUploadLink" style="display:none;margin-left: 10px;">
                                                    <a href="javascript:void(0);" class="attachMore" id="attachMore">+
                                                        Add More Documents</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div>
                                            <h4 class="card-title col-md-12"
                                                style="padding: 5px 15px 15px 15px;font-size: 15px;font-weight: 500;">
                                                Personal KYC
                                            </h4>
                                            <div class="col-md-6">
                                                <div class="inputDiv selectdiv">

                                                    <select id="perCountry">
                                                        <option [ngValue]="null" selected>Select</option>
                                                        <option *ngFor="let data of resp" [ngValue]='data.country'>{{data.country}}</option>   
                                                    </select>
                                                    <label>Select Country</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="inputDiv selectdiv">
                                                    <select id="perDocument">
                                                        <option [ngValue]="null" selected>Select</option>
                                                        <option value="Passport" >Passport</option>
                                                        <option value="Driving License" >Driving License</option>
                                                        <option value="National Identity Card" >National Identity Card</option>
                                                    </select>
                                                    <label>Valid Documents</label>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <label>Upload Document (only pdf, jpeg, png)</label>
                                                <div class="element" formArrayName="personalDocumentList_html"
                                                *ngFor="let item of kycDetailsForm.get('personalDocumentList_html').controls; let i = index;">
                                                <div class="row" [formGroupName]="i">
                                                    <input formControlName="encodedFileContent" type="file"
                                                        placeholder="Upload Document"
                                                        (change)="selectFile_KYC($event)" name="document[]"
                                                        id="upload_file4{{i+1}}" class="filestyle" multiple=""   />

                                                        <div class="col-md-3" id="moreImageUploadLink" style="display:none;margin-left: 10px;">
                                                            <div class="inputDiv" *ngIf="i==0">
                                                                <a href="javascript:void(0);" (click)="add(i)" class="attachMore" id="attachMore">+
                                                                    Add More</a>
                                                            </div>
                                                            <div class="inputDiv" *ngIf="i>0">
                                                                <a href="javascript:void(0);" class="attachMore" id="attachMore"
                                                                    (click)="remove(i)">Remove</a>
                                                            </div>
                                                        </div>
                                                </div>
                                                </div>


                                                <!-- <div id="moreImageUpload"></div>
                                                <div class="clear"></div>
                                                <div id="moreImageUploadLink" style="display:none;margin-left: 10px;">
                                                    <a href="javascript:void(0);" class="attachMore" id="attachMore">+
                                                        Add More Documents</a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                        <button type="submit" class="btn btn-info pull-right">Submit</button>
                        <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- </div> -->
    <!-- </div> -->
    <router-outlet></router-outlet>
</body>

</html>