<!-- <div fxLayout="row" fxLayoutAlign="space-between center" class="pophead">
  <div fxLayout="column" >
    <a href="javascript:void(0);" (click)="closeDialog()">
      <i class="fa fa-times" style="color: white;"></i>
    </a>
  </div>
  <div fxLayout="column">
    <h6 mat-dialog-title>{{data.title}}</h6>
  </div>
</div> -->
<div class="pophead"><h2 mat-dialog-title >{{data.title}}</h2>
  <a href="javascript:void(0);" (click)="closeDialog()" style="margin-top: 30px;margin-left: 75%;">
    <i class="fa fa-times" style="color: white;" ></i>
  </a>
</div>
<div>
    <h3>Coming Soon!!!!!</h3>  
</div>